.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatroomform{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.joinername{
    display: flex;
    width: 100%;
}

.join{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.create{
    display: flex;
    justify-content: center;
    width: 100%;
}


.error{
    color: red;
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    overflow: auto;
    align-items:flex-start;
    
  }
  
  
  h2 {
    text-align: center;
  }
  
  #message {
    flex: 1;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .muted {
    font-size: 10px;
    color: darkgray;
  }








  @import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #085bb9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .back-icon {
    color: white;
    margin-right: 30px;
    font-size: 22px;
  }
  
  .profile-pic {
    border-radius: 32px;
    margin-right: 16px;
    width: 64px;
    height: 64px;
  }
  
  .name {
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: "Open Sans";
    margin: 0px;
    margin-bottom: 8px;
  }
  
  .status {
    color: #e4e7eb;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans";
    margin: 0px;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    align-items:flex-start;
    width: 90vw;
    height: 75vh;
    overflow-y: scroll;
  }
  
  .msg-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 36px;
  }
  
  .to-msg-container {
    align-self: flex-end;
  }
  
  
  .from-msg-profile-pic {
    margin-right: 8px;
    margin-left: 8px;
  }
  .to-msg-profile-pic{
    margin-right: 8px;
    margin-left: 8px;
    order: 1;
  }
  
  .msg-text-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    max-width: 355px;
    min-width: 80px;
    justify-content: space-between;
  }
  
  .from-msg-text-container {
    font-family: "Open Sans";
    color: white;
    background: #0967d2;
    border-top-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .to-msg-text-container {
    font-family: "Open Sans";
    color: #323f4b;
    background: #dce6f4;
    border-top-left-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .msg-text {
    margin: 0px;
    font-size: 16px;
  }
  
  .to-msg-text{
    color:#323f4b;
  }
  
  .from-msg-text{
    color: white;
  }
  
  .msg-time {
    margin: 0px;
    align-self: flex-end;
    font-size: 12px;
    min-width: 60px;
    margin-left: 15px;
  }
  
  .from-msg-time{
    color: #77b7ff;
  }
  
  .to-msg-time{
    color:#7892B5
  }
  
  .date-container {
    background: #cbd5e1;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    margin-bottom: 36px;
  }
  
  .date {
    font-weight: 600;
    font-size: 14px;
    color: #64748b;
    margin: 0px;
    font-family: "Roboto";
  }
  
  .footer {
    height: 8vh;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-top: 15px;
  }
  
  .footer-input-container {
    border: 1px solid #cbd2d9;
    background: #f5f7fa;
    display: flex;
    justify-content: space-between;
  }
  
  .message-input {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #7b8794;
    font-family: "Open Sans";
    width: 100%;
    border: 0px;
    background: #f5f7fa;
    outline: none;
  }
  
  .send {
    width: 40px;
    height: 40px;
    background: #0967d2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    outline: none;
  }
  
  .send-icon {
    color: white;
    font-size: 24px;
  }


  .user-input {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    margin-right: 10px;
}

.inputs{
  width: 85vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.send-button{
  height: 45px;
  width: 100px;
  margin-top: 10px;
  background: #0967d2;
  color: #ffffff;
  border-width: 0px;
  border-radius: 20px;
}