{% extends 'base.html' %} {% block content %}
    <h2>Chat Room: {{code}}</h2>
    <div class="chat-container" id="messages"> </div>

    <div class="inputs">
        <input onsubmit="SendMessage()" class="user-input" type="text"  name="message" id="message" placeholder="message">
        
        <button class="send-button" onclick="SendMessage()" type="button" name="send" id="send-btn">Send</button>
    </div>
<script>
    var socketio = io();
    const messages = document.getElementById("messages");
    let count = 0;

    const createMessage = (name, msg) => {
        const content1 = `
        <div class="msg-container">
        <h3 class="from-msg-profile-pic"><strong>${name}</strong></h3>
        <div class="msg-text-container from-msg-text-container">
          <p class='msg-text from-msg-text'>${msg}</p>
          <p class='msg-time from-msg-time'>${new Date().toLocaleDateString()}</p>
        </div>
      </div>
        `
        const content2 = `
        <div class="msg-container to-msg-container">
        <h3 class="to-msg-profile-pic"><strong>${name}</strong></h3>
        <div class="msg-text-container to-msg-text-container">
          <p class='msg-text to-msg-text'>${msg}</p>
          <p class='msg-time to-msg-time'>${new Date().toLocaleDateString()}</p>
        </div>
      </div>
        `
        if(count == 0){
            messages.innerHTML += content1;
            scrollChatWindowToBottom();
            count = 1;
        }
        else{
            messages.innerHTML += content2;
            scrollChatWindowToBottom();
            count = 0;
        }
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const SendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", { data: message.value });
        message.value = "";
        
    };

    document.addEventListener("DOMContentLoaded", function() {
    const inputField = document.getElementById("message");
    const sendButton = document.getElementById("send-btn");

    inputField.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            sendButton.click();
        }
    });

    sendButton.addEventListener("click", SendMessage);
});

function scrollChatWindowToBottom() {
    var chatWindow = document.getElementById("messages");
    chatWindow.scrollTop = chatWindow.scrollHeight;
}
</script>
{% for msg in messages %}
<script type="text/javascript">createMessage("{{msg.name}}", "{{msg.message}}")</script>
{% endfor %}
{% endblock %}